.html-editor-style {
    height: 80vh;
    margin: 0 200px;
}

.text-area-style {
    height: 100%;
    resize: none;
}

.form-control:focus {
    // border: none;
    border-color: rgba(196, 210, 233, 0.25);
    outline: none;
    box-shadow: 0 0 0 .25rem rgba(196, 210, 233, 0.25);
}

.preview-style {
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    box-shadow: 0 0 0 .25rem rgba(196, 210, 233, 0.25);
}

.preview-edit-style {
    display: flex;
    flex-direction: column;
}