<div class="mt-4">
    <h3>Select Template</h3>
    <div class="col-5">
        <select class="form-control" (change)="onSelectTemplate($event)">
            <option value="">Please Select Template...</option>
            @for(item of templates();track item?.name){
            <option [value]="item?.id">{{item?.name}}</option>
            }
        </select>
    </div>

    <div class="mt-5">
        <div class="mt-4">
            @if (selectedTemplate()) {
            <button class="btn btn-warning me-2" (click)="enableEdit()">
                Edit
            </button>
            }
        </div>

        <div class="mt-4">
            @if (previewMode() && !editMode()) {
            <div class="p-3 border bg-light" [innerHTML]="templateForm.get('editContent')?.value">
            </div>
            }
        </div>
        @if(editMode()){
        <form [formGroup]="templateForm">
            <div class="editor">
                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                </ngx-editor-menu>
                <ngx-editor [editor]="editor" formControlName="editContent">
                </ngx-editor>
            </div>
        </form>
        <div class="mt-4">
            <button class="btn btn-success me-2" (click)="updateTemplate(singleTemplate())">
                Update
            </button>
        </div>
        }
    </div>

</div>