.admin-panel {
    height: 92vh;
}

.bg {
    background-color: #198754;
}

.main {
    height: 100%;
}

.left-drawer {
    background-color: #343a40;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.box {
    flex: 1;
    border: 1px solid transparent;
    padding: 20px 0px;
    text-align: center;
    color: white;
    font-weight: 700;
    transition: all .3s;
}

.box:hover {
    background-color: #e1f5fe;
    color: #343a40;
    cursor: pointer;
}

.main-content {
    background-color: #e1f5fe;
    height: 98vh;
}

.drawer-toggle {
    margin-top: 20px;
    margin-right: 15px;
    text-align: end;
    display: flex;
    justify-content: flex-end;
}

.drawer-content-toggle {
    text-align: start;
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
        color: #343a40;
}

.drawer-toggle,
.drawer-content-toggle:hover {
    cursor: pointer;
}