<div class="admin-panel">
    <!-- Nav Bar -->
    <div class=" bg-secondary p-3">
        <div class="text-center display-6 fw-normal text-white">Admin Page</div>
    </div>
    <!-- body main -->
    <div class="main">
        <mat-grid-list cols="10" class="full-height" rowHeight="fit">
            <mat-grid-tile [colspan]="2" class="left-panel">
                
            </mat-grid-tile>
            <mat-grid-tile [colspan]="8" class="right-panel">2</mat-grid-tile>
        </mat-grid-list>
    </div>

</div>